/* RESPONSIVIDADE*/

@media screen and (max-width: 1280px){
    
}

@media screen and (max-width: 1024px){

    /* HEADER */

    header .container{
        align-items: unset;
    }

    .desktop{
        display: none;
    }

    .mobile{
        
        display: inline-block;
        position: relative;
        text-align: right;
    }

    #chk{
        display: none;
    }

    #menu{
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: url(../img/open-menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        left: -40px; /*Armengo feio, porém visualmente aceitável*/
    }

    .mobile .menu{
        list-style: none;
        position: absolute;
        right: 0;
        opacity: 0;
        z-index: -1;
        transition: all 0.4s;
        text-align: center;
    }

    .mobile .menu li{
        width: 120px;
        background-color: rgb(240,240,240);
        border-bottom: 1px solid rgb(100,100,100,0.7);
        margin: 3px 0;
    }

    .menu li a:hover{
        font-size: 20px;
    }

    #chk:checked ~ .menu{
        opacity: 1;
        z-index: 1;
    }

    /* BANNER */

    .box-text{
        width: 157px;
        height: 30px;
        line-height: 30px;
    }

    .box-text h2{
        font-size: 18px;
    }

    

    @media screen and (max-width: 768px){

        /* BANNER */

        .banner .container{
            background-size: 150%;
            background-position: center right;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .box-text{
            width: 139px;
            height: 30px;
            line-height: 30px;
            margin: 10px 0;
        }

        .box-text h2{
            font-size: 16px;
        }

    }

    @media screen and (max-width: 425px){

        /* HEADER */

        .logo{
            width: 125px;
            height: 60px;
        }

        .mobile .menu li{
            width: 90px;
        }

        .menu li a{
            font-size: 16px;
        }

        /* BANNER */

        .banner .container{
            background-size: 200%;
            background-position: center right;
            background-repeat: no-repeat;
        }

        .box-text{
            width: 135px;
            height: 25px;
            line-height: 25px;
            margin: 10px 0;
        }

        .box-text h2{
            font-size: 16px;
        }

        
    }
    
    
}