/* RESPONSIVIDADE*/

@media screen and (max-width: 1280px){
    /* BANNER */

    .text-box{
        width: 220px;
        left: 20%;
    }
    
    .text-box:nth-of-type(2){
        width: 160px;
        left: calc(20% - 10px);
    }
    
    .text-box:nth-of-type(3){
        width: 140px;
        left: calc(20% - 20px);
    }

    .text-box-white{
        width: 220px;
        left: calc(20% - 30px);
    }

    .text-box h2{
        font-size: 26px;
    }

    .text-box-white h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px){

    /* HEADER */

    header .container{
        align-items: unset;
    }

    .desktop{
        display: none;
    }

    .mobile{
        
        display: inline-block;
        position: relative;
        text-align: right;
    }

    #chk{
        display: none;
    }

    #menu{
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: url(../img/open-menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        left: -40px; /*Armengo feio, porém visualmente aceitável*/
    }

    .mobile .menu{
        list-style: none;
        position: absolute;
        right: 0;
        opacity: 0;
        z-index: -1;
        transition: all 0.4s;
        text-align: center;
    }

    .mobile .menu li{
        width: 120px;
        background-color: rgb(240,240,240);
        border-bottom: 1px solid rgb(100,100,100,0.7);
        margin: 3px 0;
    }

    #chk:checked ~ .menu{
        opacity: 1;
        z-index: 1;
    }

    /* BANNER */

    .text-banner{
        width: 20%;
    }

    .text-box{
        width: 200px;
        height: 40px;
        line-height: 40px;
    }
    
    .text-box:nth-of-type(2){
        width: 140px;
    }
    
    .text-box:nth-of-type(3){
        width: 120px;
    }
    
    .text-box-white{
        width: 200px;
        height: 30px;
        line-height: 30px;
    }

    .text-box h2{
        font-size: 24px;
    }
    
    .text-box-white h2{
        font-size: 17px;
    }

    .img-banner{
        width: 80%;
        height: 40vw;
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-position: center;
    }

    @media screen and (max-width: 768px){

        /* BANNER */

        .banner .container{
            padding: 50px 0;
            flex-wrap: wrap;
            align-items: unset;
        }

        .text-banner{
            width: 100%;
        }

        .text-box{
            width: 150px;
            height: 30px;
            line-height: 30px;
            left: 0;
        }

        .text-box:nth-of-type(2){
            width: 90px;
            left: 0;
        }
        
        .text-box:nth-of-type(3){
            width: 70px;
            left: 0;
        }

        .text-box-white{
            width: 180px;
            height: 30px;
            line-height: 30px;
            left: 0; 
        }

        .text-box h2{
            font-size: 20px;
        }
        
        .text-box-white h2{
            font-size: 15px;
        }

        .img-banner{
            width: 100%;
            background-size: cover;
        }
    }

    @media screen and (max-width: 375px){

        /* HEADER */

        .logo{
            width: 125px;
            height: 60px;
        }
        
    }
    
    
}