*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* HEADER */

header{
    width: 100%;
    margin-bottom: 20px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.logo{
    width: 200px;
    height: 95px;
}

.logo img{
    width: 100%;
    height: 100%;
}

/* MENU DESKTOP E MOBILE */

.mobile{
    display: none;
}

.desktop .menu{
    display: flex;
    list-style: none;
}

.desktop .menu li{
    padding: 0 15px;
}

.desktop .menu li:last-of-type{
    padding-right: 0;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.menu li:first-of-type a{
    color: red;
}

.menu li a:hover{
    font-size: 22px;
}

/* BANNER */

.banner{
    width: 100%;
    padding: 30px 0;
    background-color: rgb(1,1,8);
}

.banner .container{
    background-image: url(../img/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-text{
    width: 234px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    background-image: url(../img/box-text.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
}

.box-text h2{
    font-size: 24px;
    color: white;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
}

/* SPOTLIGHT */

.spotlight{
    padding: 90px 0 50px 0;
}

.spotlight .container{
    text-align: center;
    max-width: 1000px;
}

/* SPOTLIGHT TITULO */

.titulo{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.line{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
}

.titulo h2{
    display: inline-block;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    background-color: white;
    position: relative;
    top: -20px;
    padding: 0 20px;
}

/* CAR SECTION */

.car-section{
    display: flex;
    flex-wrap: wrap;
}

.car-single{
    width: 33.3%;
}

.car-single .car-img{
    width: 100%;
    padding-top: 75%;
    background-image: url(../img/carro1.jpg);
    background-size: 100% 100%;
    border: 5px solid white;
}

.car-single:nth-of-type(2) .car-img{
    background-image: url(../img/carro2.jpg);
}

.car-single:nth-of-type(3) .car-img{
    background-image: url(../img/carro3.jpg);
    background-size: cover;
}

.info h2{
    font-size: 22px;
}

.info p{
    color: rgb(100,100,100);
    padding-bottom: 20px;
}

.button{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(230, 16, 16);
    border-bottom: 2px solid rgb(134, 24, 24);
    padding: 5px 10px; 
    color: white;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.button:hover{
    background-color: rgb(190, 20, 20);
    border-bottom: 2px solid rgb(109, 20, 20);
}

/* STAND */

.stand{
    padding: 60px 0;
    background-image: linear-gradient( to right, #242424 50%, #eb3d3d 50% );
}

.stand .container{
    display: flex;
    align-items: flex-start;
}

/* SERVICES */

.services{
    width: 50%;
    padding-left: 30px;
    display: grid;
    align-content: center;
    grid-template-columns: 230px 100px;
}

.services h2{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}

.services ul{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    margin-left: 20px;
    list-style-position: inside;
}

.services li{
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

.services li:hover{
    font-size: 19px;
}

.services .button{
    grid-row: 3 / 3;
    grid-column: 2 / 2;
    text-align: center;
    box-shadow: none;
    width: 100px;
    padding: 0;
}

/* DEPOIMENT */

.depoiment{
    width: 50%;
    padding: 0 20px 0 50px;
    position: relative;
}

#d1, #d2, #d3{
    display: none;
}

.depoiment h2{
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}

.dep1, .dep2, .dep3{
    display: none;
    height: 200px;
}

.dep1 p, .dep2 p, .dep3 p{
    color: white;
    font-size: 18px;
    margin: 0 0 20px 20px;
}

.dep1 span, .dep2 span, .dep3 span{
    font-size: 18px;
    font-style: italic;
    float: right;
    padding-right: 10px;
}

.prev, .next{
    width: 14px;
    height: 28px;
    float: left;
    cursor: pointer;
    margin: 0 10px;
}

.prev{
    background-image: url(../img/arrow-left.png);
    background-size: 100% 100%;
    display: inline-block;
}

.next{
    background-image: url(../img/arrow-right.png);
    background-size: 100% 100%;
    display: inline-block;
}

#d1:checked ~ .dep1,
#d2:checked ~ .dep2,
#d3:checked ~ .dep3{
    display: block;
}

/* CONTACT */

.contact{
    width: 100%;
    padding: 90px 0 50px 0;
}

.contact .container{
    text-align: center;
    max-width: 800px;
}

.contact form{
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}

.field{
    margin-bottom: 10px;
}

.field input{
    width: 98%;
    height: 50px;
    line-height: 50px;
    border: 2px solid rgb(230,230,230);
    padding: 5px 10px;
    font-size: 20px;
}

.field:nth-of-type(2) input:nth-child(1){
    width: 49%;
}

.field:nth-of-type(2) input:nth-child(2){
    width: 49%;
}

::placeholder { 
    color: rgb(200,200,200);
    opacity: 1; /*firefox*/
}

.field textarea{
    width: 98%;
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(230,230,230);
}

.field input:focus, .field textarea:focus{
    outline: 0;
}

.contact .button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding: 0;
    background-color: rgb(230, 16, 16);
    color: white;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid rgb(134, 24, 24);
    box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.75);
    text-transform: uppercase;
    cursor: pointer;
}












