*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* HEADER */

header{
    width: 100%;
    margin-bottom: 20px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.logo{
    width: 200px;
    height: 95px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.mobile{
    display: none;
}

.desktop .menu{
    display: flex;
    list-style: none;
}

.desktop .menu li{
    padding: 0 15px;
}

.desktop .menu li:last-of-type{
    padding-right: 0;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.menu li:first-of-type a{
    color: red;
}

.menu li a:hover{
    font-size: 21px;
}

/* BANNER */

.banner{
    width: 100%;
    background-color: #00030c;
}

.banner .container{
    display: flex;
    max-width: 1920px;
    align-items: center;
}

.text-banner{
    width: 30%;
    text-align: center;
}

.text-box{
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 8px;
    background-image: url(../img/box-text.png);
    background-size: 100% 100%;
}

.text-box:nth-of-type(2){
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 8px;
    background-image: url(../img/box-text.png);
    background-size: 100% 100%;
}

.text-box:nth-of-type(3){
    width: 180px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 8px;
    background-image: url(../img/box-text.png);
    background-size: 100% 100%;
}








.text-box h2{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

.text-box-white h2{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}


.img-banner{
    width: 70%;
    height: 30vw;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




